<header><h2>Best Books!</h2>
    <h3>You Have <%= (bookDetails.lenght + 1)  %> Saved Books  </h3>
    <ul>
        <li> <a href="/">Home</a> </li>
        <li><a href="/searches/new">Search by google API</a></li>
    </ul>
</header>